
body {
    color: turquoise;
    font-family: monospace;
    background-color: aliceblue;
    font-size: 30px;
    line-height: 1.7;
    padding: 20px;
}

h1 {
    font-size: 38px;
    text-decoration: underline;
}